* {
    border: none;
    border-radius:0;
     font-family: "JetBrainsMono Nerd Font", "SF Pro Display", sans-serif;
    font-size: 14px;
    min-height: 0;
    margin:0;
    padding:0;
}

.modules-right {
    padding: 0 20px;
}
.modules-left{
    padding: 0 20px;
}
window#waybar {
   background: rgb(27, 22, 32);
    border-radius: 40px;
    border: 1px solid rgba(235, 225, 245, 0.18);
    color: rgba(242, 237, 248, 0.95);
    padding: 0 10px;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 8px 5px;
    margin:0 2px;
    background: transparent;
    color: white;
    border: none;
    transition:all 250ms ease-in-out;
    border-radius: 40px;
}
#workspaces button.active{
	min-width:40px;
    
    transition:all 250ms ease-in-out;
}
#workspaces button:hover {
    
    background: rgba(255,255,255,0.08);
}
#clock {
    background-color: transparent;
    font-weight: 600;
    font-size: 13px;
}
#pulseaudio{
    background-color: transparent;
    padding: 0 5px;
    margin: 0 10px;
}
#idle_inhibitor{
    padding: 0 20px;
}
