* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(15, 23, 42, 0.75);
}

button {
    border-radius: 0;
    border-color: #2A3344;
	text-decoration-color: #afabab;
    color: #E5E7EB;
	background-color: #111827;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border-radius: 10px;
	margin: 10px;
}

button:focus, button:active, button:hover {
	background-color: #A78BFA;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/bat/dotfiles/wlogout/icons/lock-white.png"));
}

#logout {
    background-image: image(url("/home/bat/dotfiles/wlogout/icons/logout-white.png"));
}

#suspend {
    background-image: image(url("/home/bat/dotfiles/wlogout/icons/suspend-white.png"));
}

#hibernate {
    background-image: image(url("/home/bat/dotfiles/wlogout/icons/hibernate-white.png"));
}

#shutdown {
    background-image: image(url("/home/bat/dotfiles/wlogout/icons/shutdown-white.png"));
}

#reboot {
    background-image: image(url("/home/bat/dotfiles/wlogout/icons/reboot-white.png"));
}
